#main-nav .social{
  display: none;
}
#main-nav .container{
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}
#main-nav .container a,
#main-nav ul
{
  justify-self: center;
}
#main-content .sidebar{
  display: flex;
  flex-direction: row;
}
#main-content .author-content{
  justify-content: flex-end;
  margin-left: 20px;
  padding-bottom: 20px;
}
#main-content .author-name{
  font-size: 0.75rem;
}
#main-content .author-avatar{
  width: 36px;
  height: 36px;
}
#main-content .recent-posts{
  margin-top: 0px;
}
#main-content i,
#main-content #location {
  display: none;
}
#main-content .grid-container{
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

@media (max-width: 600px) {
  
}
