:root {
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: #252a34;
}
a {
  color: #eaeaea;
  text-decoration: none;
}

ul {
  list-style: none;
}
h1 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}
#my-title{
  font-size: 2rem;
  color: #eaeaea;
  font-family: "Lato";
}

/* Utility */
.container {
  /* max-width: var(--max-width); */
  margin: auto;
  padding: 0 2rem;
}
.post-title{
  color: #699ea0;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.50rem;
}

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom:  solid #51555d;
}
#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
  background: #252a34;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  color: #eaeaea;
}
#main-nav ul li a.current {
  background: #699ea0;
  color: #fff;
}
#main-nav ul li a:hover {
  background: var(--light-color);
  color: var(--dark-color);
}
#main-nav .social {
  justify-self: center;
}
#main-nav .social i {
  color: #777;
  margin-right: 0.5rem;
}
.fa-f2x{
  font-size: 1.8rem;
}

/* Main content */
#main-content {
  margin-top: 20px;
}
#main-content .grid-container{
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin-left:2rem;
  margin-right: 2rem;
  grid-gap: 25px;
}
#main-content .author-avatar{
  margin-top: 10px;
}
#main-content #location{
  font-size:0.80rem;
  font-weight: initial;
}

#main-content .recent-posts{
  color: #f1f1f1;
  border-bottom: solid #51555d;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: bolder;
}
#main-content .author-avatar img{
  max-width: 110px;
  border-radius: 50%;
  border: 1px solid #51555d;
  padding: 5px;
  width: 100%;
  vertical-align: middle;
  height: auto;
}
#main-content .author-avatar{
  display: block;
  width: auto;
  height: auto;
}
#main-content .sidebar{
  font-weight: bold;
  color: #eaeaea;
}
#main-content .author-name{
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
#main-content .author-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main-content .author-content i{
  font-size: 1.2em;
}
/* blog posts */
.blog-posts{
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.post-content{
  margin-top:10px
}

/* Footer */
#main-footer{
  background-color: #1a1d24;
  width: 100%;
  margin-top: 3rem;
}
#main-footer .footer-container{
  margin-top: 60px;
  color: #fff;
  clear:both;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1em 2em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center ;
}

#main-footer li{
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding-right: 10px;
}
#main-footer li span{
  font-family: "Lato";
}
#main-footer .page-footer-copyright{
  font-size: 13.75px;
}

